
.cardstyle{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}
.signbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BgColor {
  background-image: linear-gradient(#DC2626, #efa73a);
}