
.cardstyle{
  display: flex;
  flex-wrap: wrap;
}
.signbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BgColor {
  background-image: linear-gradient(#DC2626, #efa73a);
}
.navbarPage{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}